.carousel-wraper {
  position: relative;
  overflow: hidden;
}
.fade-carousel {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white);
}
@media (max-width: 768px) {
  .fade-carousel {
    height: 100px;
  }
}
