* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-content {
  padding-top: 110px; /* header (~70px) + sub-header (~40px) */
}
